/* Reset Styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #E9F1FA;
}

/* Page Styles */
.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Banner Styles */
div[role="banner"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Skip to Main Content Link Styles */
.skipmain {
    text-align: center;
    margin-top: 10px;
}

/* Navigation Bar Styles */
.nav_bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.nav_bar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Main Content Styles */
#main {
    margin-top: 20px;
}

h2 {
    color: #3498db;
}

/* Schools Section Styles */
.schools {
    margin-top: 20px;
}

.school {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}

#school_img img {
    max-width: 100;
    height: auto;
}

/* Experiences Section Styles */
.exp_list {
    margin-top: 20px;
}

.exp {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}

.exp img {
    max-width: 100px;
    height: auto;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

/* Interests Section Styles */
.interests {
    margin-top: 20px;
}

.interests li {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_interest img {
    max-width: 100px;
    height: auto;
}